@page "/Modsmanager"
@using System.Net;
@using System.Net.Http
@using System.IO
@using System.Threading.Tasks
@using eoj12.DCS.Toolkit.Data;
<h1>DCS World Mod Manager</h1>
<ModsDataGrid Mods="Mods"  ShowScanMod="true" ShowIsDownloadButton=false ShowIsEnableButton="true" ShowModTagetFolder=true ShowModUrl=false></ModsDataGrid>
@code {
    RadzenDataGrid<Mod> modsGrid;
    List<Mod> Mods = null;

    private ModManagerService modManagerService = new ModManagerService();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            await Task.Run(() => Mods = modManagerService.LocalDb.CopyMods());
        }
        catch (Exception ex)
        {
            throw;
        }

    }
   


}