@page "/ModsSquadron"
@using System.Net;
@using System.Net.Http
@using System.IO
@using System.Threading.Tasks
@using eoj12.DCS.Toolkit.Data;
<h1>My Squadrons Mods</h1>

<ModsDataGrid Mods="Mods"  DefinitionMode="true" ShowScanMod="false" ShowIsEnableButton="false" ShowLoadFileDefinition=true></ModsDataGrid>
@code {
    RadzenDataGrid<Mod> modsGrid;
    private string Url = "https://drive.google.com/uc?id=1AEDTUYVP9Zj0EEeEyjKBsLyLeifNQgr4&export=download";
    List<Mod> Mods = null;

    private ModManagerService modManagerService = new ModManagerService();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            await Task.Run(() => Mods = new List<Mod>());

        }
        catch (Exception ex)
        {
            throw;
        }

    }
   


}